/* Importa la fuente 'Inter' */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

/* Estilos para la página de Login */
.login-page-content {
  /* Fuente */
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  /* Fondo y color segun tema */
  --background: var(--ion-background-color);
  color: var(--ion-text-color);

  /* Centramos todo el contenido */
  --padding-start: 1.5rem;
  --padding-end: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 400px; 
  width: 100%;
  margin: 0 auto;
}

/* 1. El Logo */
.login-logo {
  max-width: 150px; 
  height: auto;
  margin: 0 auto 1rem auto;
  margin-top: 10px;
}

/* 2. El Título "Bienvenido" */
.login-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  
  color: var(--ion-text-color);
}

.login-subtitle {
  font-size: 1rem;
  
  color: rgba(var(--ion-text-color-rgb), 0.7);
  margin-bottom: 2.5rem; 
}
