.app-header {
    background: #000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.app-header-content {
  display: flex;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  width: 100%;
}

.app-header-left {
  justify-self: center;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}


.app-header-right {
  justify-self: end;
  margin-left: auto;
}

.app-header-icon {
    color: #34d399;
    /* verde similar a text-green-400 */
    margin-right: 15px;
    margin-left: 15px;
}

.app-header-title {
    color: #fff;
    font-weight: 800;
    font-size: 1.25rem;
    /* 20px */
    margin: 0;
    letter-spacing: 0.03em;
    line-height: 1;
}

@media (min-width: 768px) {
    .app-header-title {
        font-size: 1.5rem;
    }
}