/* Toolbar del header: usa los colores del tema */
.app-header {
  /* Para Ionic */
  --background: var(--ion-toolbar-background);
  --color: var(--ion-toolbar-color);

  background: var(--ion-toolbar-background);
  color: var(--ion-toolbar-color);

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

/* Contenido interno del header */
.app-header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;  
  width: 100%;
  padding: 0.5rem 1rem;
}

.app-header-left {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.app-header-right {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.app-header-icon {
  color: #34d399; 
  margin-right: 15px;
  margin-left: 15px;
}

.app-header-title {
  color: var(--ion-toolbar-color);   
  font-weight: 800;
  font-size: 1.25rem;
  margin: 0;
  letter-spacing: 0.03em;
  line-height: 1;
}

@media (min-width: 768px) {
  .app-header-title {
    font-size: 1.5rem;
  }
}
